<!-- <div style="background-color: #f1aaf9">
  <h1>I am parent</h1>
  <h2>{{ data }}</h2>

  <div>
    <h1>About me</h1>
    <p>my name : {{ name | uppercase }}</p>
    <p>my salary : {{ salary | currency : "INR" }}</p>
  </div>
</div> -->

<!-- <app-user-profile
  age="24"
  isTrue="false"
  username="Sameer khan"
  (updateData)="updateData($event)"
></app-user-profile> -->

<!-- <app-user-profile
  age="24"
  isTrue="false"
  username="Sameer khan 2"
  (recevedData)="recevedData($event)"
></app-user-profile> -->

<!-- <app-joke></app-joke> -->

<!-- <ul>
  <li *ngFor="let user of newData">
    <h1>{{ user.name }}</h1>
    <h2>{{ user.age }}</h2>
  </li>
</ul> -->

<app-a></app-a>
<app-b1></app-b1>
