<!-- <p>user-profile works!</p>
<h1>name : {{ name }}</h1>
<h2>age : {{ age }}</h2>
<h3>salary : {{ salary }}</h3>

 <input type="text" [value]="name" (input)="onChange($event)" />
<input type="text" [(ngModel)]="name" />

<h1>One Way</h1>
<ul>
  <li *ngFor="let user of users">
    <h1 *ngIf="user.age < 23; else elseBlock">
      name : {{ user.name }} || age : {{ user.age }}
    </h1>
    <ng-template #elseBlock>
      <h4>name : {{ user.name }} || age : {{ user.age }}</h4>
    </ng-template>
  </li>
</ul>

<h1>Second way</h1>
<ul>
  @for(user of users; track user.name){ @if(user.age <= 24){

  <h2>{{ user.name }} {{ user.age }}</h2>
  }@else{
  <h3>{{ user.name }} {{ user.age }}</h3>

  } }
</ul>

<button [disabled]="isBtnDisabled">click me</button>  -->

<!-- <div style="background-color: #b1b2b3">
  <input type="text" #data />
  <button (click)="sendData(data.value)">data update</button>
</div> -->

<h1>my name is {{ name }} i am {{ age }}</h1>

<div>
  <p>{{ componentName }}</p>
  <input type="text" [(ngModel)]="componentName" />
</div>

<p>
  <span>component</span>
  <input type="text" #box />
</p>

<button (click)="updateData.emit(box.value)">update data</button>
